@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, pink, white);

  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100vh;
}

.todo-container {
  width: 60%;
}

@media (max-width: 768px) {
  .todo-container {
    width: 90%;
  }
}

.todo-container h1 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #af46af;
}

.todo-container form {
  display: flex;
  width: 100%;
  background-color: #262e4c;
}

.todo-container form input {
  border: none;
  background-color: white;
  font-size: 18px;
  color: #333;
  padding: 10px;
  width: 90%;
}
ul li:hover {
  background: rgb(114, 202, 114);
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 10px;

  font-size: 16px;
}

li {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
}
li input {
  margin: 0.2rem;
  border: none;
  border-radius: 5px;
  width: 90%;
  /* padding: 1.5rem; */

  font-size: 1rem;
}

.todo-button {
  border: none;
  color: white;
  background-color: #f00f78;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 12%;
  cursor: pointer;
}
.clear-button {
  font-size: 1rem;
  background-color: rgb(156, 53, 240);
  width: 15%;
  border: none;
  color: white;
}

.todo-container ul {
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}

.todo-container ul li {
  padding: 10px;
  background-color: plum;
  border-bottom: 1px solid rgb(191, 69, 228);
}

.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}
.check:checked {
  background-color: #1dd2af;
}
.task {
  font-size: 18px;
  padding: 0 10px;
}

.task:focus {
  outline: none;
}

.todo-container ul li i {
  float: right;
  cursor: pointer;
}

.todo-container ul li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: rgba(192, 192, 192, 0.842);
  text-decoration: line-through;
}

.fall {
  transform: translateX(8rem) rotateZ(20deg);
  opacity: 0;
}
